<div class="row">
  <!-- FORM -->
  <div class="col-md-4">
    <div class="card">
      <div class="card-body p-4">
        <!-- FORM -->
        <form [formGroup]="typeProductForm" (ngSubmit)="onSubmit()">
          <!-- THE Id's Employee -->
          <input type="hidden" name="_id" />

          <h2>TIPO DE PRODUCTO</h2>

          <div class="form-group m-2 col-md-12">
            <input
              type="text"
              name="name"
              placeholder="ingrese el nombre"
              class="form-control"
              formControlName="nombre"
            />
          </div>

          <div class="input-group m-2 col-md-12">
            <label class="input-group-text" for="inputGroupSelect01"
              >Categorias</label
            >
            <select class="form-select" formControlName="iD_categoria">
              <option *ngFor="let category of categorys" [value]="category.id">
                {{ category.nombre }}
              </option>
            </select>
          </div>

          <button class="btn btn-primary m-2" (click)="clearForm()">
            Limpiar
          </button>
          <button
            type="submit"
            class="btn btn-secondary m-2"
            [disabled]="typeProductForm.invalid"
          >
            Guardar
          </button>
        </form>
      </div>
    </div>
  </div>

  <!-- TABLE -->
  <div class="col-md-8">
    <table class="table table-striped">
      <thead>
        <th>ID</th>
        <th>Nombre</th>
        <th>Categoria</th>
        <th>Operaciones</th>
      </thead>
      <tbody>
        <tr *ngFor="let typeProduct of typeProducts">
          <td>{{ typeProduct.id }}</td>
          <td>{{ typeProduct.nombre }}</td>
          <td>{{ getNameOfcategory(typeProduct.iD_categoria) }}</td>
          <td>
            <a
              class="btn btn-secondary btn-sm"
              (click)="setTypeProduct(typeProduct)"
            >
              <i class="material-icons">edit</i>
            </a>
            <a
              class="btn btn-danger btn-sm"
              (click)="deleteById(typeProduct.id)"
            >
              <i class="material-icons">delete</i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
