<div class="row">
  <!-- FORM -->
  <div class="col-md-4">
    <div class="card">
      <div class="card-body p-4">
        <!-- FORM -->
        <form [formGroup]="subproductForm" (ngSubmit)="onSubmit()">
          <!-- THE Id's Employee -->
          <input type="hidden" name="_id" />

          <h2>Producto</h2>

          <div class="form-group m-2 col-md-12">
            <input
              type="text"
              name="nombre"
              placeholder="ingrese el nombre"
              formControlName="nombre"
              class="form-control"
            />
          </div>

          <div class="form-group m-2 col-md-12">
            <input
              type="text"
              name="descripcion"
              placeholder="ingrese la Descripcion"
              formControlName="descripcion"
              class="form-control"
            />
          </div>

          <div class="form-group m-2 col-md-12">
            <input
              type="text"
              name="cantidad"
              placeholder="ingrese el cantidad"
              formControlName="cantidad"
              class="form-control"
            />
          </div>

          <div class="form-group m-2 col-md-12">
            <input
              type="text"
              name="valor"
              placeholder="ingrese el valor"
              formControlName="valor"
              class="form-control"
            />
          </div>

          <div class="form-group m-2 col-md-12">
            <input
              type="text"
              name="valor_neto"
              placeholder="ingrese el valor neto"
              formControlName="valor_neto"
              class="form-control"
            />
          </div>

          <div class="form-group m-2 col-md-12">
            <input
              type="text"
              name="valor_impuestos"
              placeholder="ingrese el valor impuestos"
              formControlName="valor_impuestos"
              class="form-control"
            />
          </div>

          <div class="form-group m-2 col-md-12">
            <input
              type="date"
              placeholder="ingrese la Fecha de caducidad"
              formControlName="fecha_caducidad"
              class="form-control"
            />
          </div>


          <div class="input-group m-2 col-md-12">
            <label class="input-group-text" for="inputGroupSelect01">Producto</label>
            <select class="form-select" formControlName="iD_producto">
              <option *ngFor="let product of products" [value]="product.id">
                {{ product.nombre }}
              </option>
            </select>
          </div>

          <button class="btn btn-primary m-2" (click)="cleanForm()">
            Limpiar
          </button>
          <button class="btn btn-secondary m-2" type="submit" [disabled]="subproductForm.invalid">
            Guardar
          </button>
        </form>
      </div>
    </div>
  </div>

  <!-- TABLE -->
  <div class="col-md-8">
    <table class="table table-striped">
      <thead>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Codigo</th>
        <th>Tipo Producto</th>
      </thead>
      <tbody>
        <tr *ngFor="let subproduct of subproducts">
          <td>{{ subproduct.id }}</td>
          <td>{{ subproduct.nombre }}</td>
          <td>{{ subproduct.descripcion }}</td>
          <td>{{ subproduct.cantidad }}</td>
          <td>{{ subproduct.valor }}</td>
          <td>{{ subproduct.valor_neto }}</td>
          <td>{{ subproduct.valor_impuestos }}</td>
          <td>{{ subproduct.fecha_caducidad }}</td>
          <td>
            <a class="btn btn-secondary btn-sm" (click)="setProduct(subproduct)">
              <i class="material-icons">Editar</i>
            </a>
            <a class="btn btn-danger btn-sm" (click)="deleteById(subproduct.id)">
              <i class="material-icons">Borrar</i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
